body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #7b2a90;
}

header {
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.image-button img {
    max-width: 350px; 
    height: auto;
    display: block;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0 20px; 
    display: flex;
    gap: 20px; 
}

nav ul li a {
    text-decoration: none;
    color: #f7cd39; 
    font-size: 20px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #61cd55; 
}


.center-text {
    text-align: center;
    color: #000000;
}

.map {
    display: block;
    max-width: 100%;
    margin: 20px auto;
}

.highlight {
    color: red;
    font-weight: bold;
}

p {
    text-align: center;
    color: #f7cd39;
    font-size: 15px;
}

h2, h3, h4 {
    text-align: center;
}

h3 {
    font-size: 60px;
}

h4 {
    font-size: 30px;
}

.day-section {
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
}

.day-1, .day-2, .day-3 {
    background-color: #86a8f6; 
    padding: 50px 20px; 
    margin: 0 auto;
    width: 100%; 
}

.day-2 {
    background-color: #f7cd39;
}

.day-3 {
    background-color: #61cd55;
}

.event-card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
}

.event-details {
    flex: 1 1 calc(50% - 20px);
    padding: 20px;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-weight: normal; 
}

.event-details h4 {
    font-size: 30px; 
    margin-bottom: 10px;
}

.event-details p {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: normal; 
}

.learn-more-button {
    color: #7b2a90;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 10px; 
}

.learn-more-button:hover {
    color: #f7cd39;
}

.info-box {
    margin-top: 10px;
}

.info-text {
    margin: 10px 0;
    color: #000000;
    font-size: 15px;
    font-weight: normal; 
}

.guest-section {
    text-align: center;
    padding: 20px;
}

.guest-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.guest {
    text-align: center;
    max-width: 150px;
}

.guest img {
    width: 150px; 
    height: 150px; 
    border-radius: 10px;
}

.partners {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}

.partners img {
    max-width: 100px;
}

footer {
    background-color: #ffffff;
    color: #7b2a90; 
    text-align: center;
    padding: 10px 20px;
    margin-top: 10px;
    width: 100%;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
}
footer h3 {
    font-size: 16px; 
    margin-bottom: 5px;
}

footer .partners img {
    margin: 3px;
    width: 60px; 
    height: auto;
}


